/**
*centered all the headings
**/
h1 {
	text-align: center;
}

/**
*placed a box around all the text
**/
.boxed {
	border: 1px solid black;
	margin-left: 10cm;
	margin-right: 10cm;
	max-width: 700px;
}

/**
*set margins for the paragraphs
**/
p {
	margin-right: 10cm;
	margin-left: 10cm;
}